# Directories
/build
/.vscode
/Dev_IsLibrary-main
# /Dev_IsLibrary/third-party/*.zip
# /Dev_IsLibrary/third-party/eigen-3.3.7
# /Dev_IsLibrary/third-party/opencv-4.5.3
# /Dev_IsLibrary/third-party/opencv_contrib-4.5.3
# /Dev_IsLibrary_old
# /Dev_IsLibrary.zip

# Files
Dev_IsLibrary-main.zip
*.bmp
*.png
*.tiff
*.jpg
*.jpeg
